@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto" sans-serif;
}

body{
    background: linear-gradient(45deg, #000000, #000000bd);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    background: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 3rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2{
    font-weight: 900;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    bottom: 4px;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(45deg, #ca3b10f1, #c42c2cfb);
}

main p{
    font-size: 14px;
    margin-top: 1rem;
    padding-left: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(36, 34, 34, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #e20e0eda, #e23a34f5);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}


.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"]{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #f80303f8, #d42929ea);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}